.map-container,
.map-container-add {
  height: 400px;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #D1D5DB;
}

@media (min-width: 768px) {

  .map-container,
  .map-container-add {
    height: 500px;
  }
}